.bgImg{
    background-image: url("../public/footer\ img.jpg");
    height: 50vh;
    display: flex;
    background-repeat: no-repeat;
    background-position: bottom;
    
    background-origin: content-box;
    
    background-color: #0C1C33;
}
.color{
    background-color: #0C1C33
}