.bgImg {
  /* background-image: url("/Dark-blu-bg.jpg"); */
  
  min-height: 50vh;
  width: auto;
  
  backdrop-filter: inherit;
  background-repeat: no-repeat;
  background-position: bottom;

  background-origin: content-box;

  
}
/* .color {
  background-color: #0c1c33;
} */
