.swanAnimantion {
  animation: swanAnimantion 5s alternate-reverse  infinite;
;
  transition:all ease-in;
  position: relative;
}
@keyframes swanAnimantion {
  0% {
    top: -20px;
    transition: all;
    transition-delay: .2s;

  
  }

  100% {
    top: 20px;
    transition-delay:  .3s;


  }
  
}
